spring:
  # 不是本地部署的Redis或者修改端口的记得修改Redis配置
  data:
    mongodb:
      # 如果没有密码
      # uri: mongodb://localhost:27017/MaaBackend
      # 有密码
      # uri: mongodb://用户名:密码@localhost:27017/MaaBackend
      uri: mongodb://localhost/MaaBackend
    redis:
      port: 6379
      host: localhost

#  security:
#    oauth2:
#      client:
#        # OIDC 配置内容属于私密信息，需要妥善储存，这里只是样例
#        registration:
#          maa-account:
#            # 配置连接到 maa-account 所使用的 ID 和 secret
#            client-id: $I_Am_The_Bone_Of_My_Sword!Steel_Is_My_Body_And_Fire_Is_My_Blood!$
#            client-secret: $I_Am_The_Bone_Of_My_Sword!Steel_Is_My_Body_And_Fire_Is_My_Blood!$
#            # 回调地址，需要在 maa-account 的回调 URL 白名单内，默认为 "/oidc/callback/{registrationId}"
#            redirect-uri: ${maa-copilot.info.frontend-domain}/oidc/callback/maa-account
#            # 验证客户和提供者的方法
#            client-authentication-method: client_secret_post
#            # 授权模式
#            authorization-grant-type: authorization_code
#            # 可访问的作用域
#            scope:
#              - email
#              - openid
#              - profile
#        provider:
#          maa-account:
#            # OpenID 配置颁发者 URL
#            issuer-uri: $I_Am_The_Bone_Of_My_Sword!Steel_Is_My_Body_And_Fire_Is_My_Blood!$

maa-copilot:
  backup:
    dir: /home/dove/copilotBak
    uri: git@github.com:dragove/maa-copilot-store.git
    disabled: true
    username: dragove
    email: dragove@qq.com
  info:
    title: MAA Copilot Center API
    description: MAA Copilot Backend Center
    version: v1.0.0
    domain: https://prts.maa.plus
    frontend-domain: https://prts.plus
  jwt:
    header: Authorization
    # 默认的JwtToken过期时间，以秒为单位
    expire: 21600
    # JwtToken的加密密钥
    secret: $I_Am_The_Bone_Of_My_Sword!Steel_Is_My_Body_And_Fire_Is_My_Blood!$
  github:
    # GitHub api token
    token: github_pat_xxx
  vcode:
    #默认的验证码失效时间,以秒为单位
    expire: 600
  cache:
    default-expire: 60
  ark-level-git:
    repository: https://github.com/MaaAssistantArknights/MaaAssistantArknights.git
    local-repository: ./MaaAssistantArknights
    json-path: resource/Arknights-Tile-Pos/
  task-cron:
    ark-level: "-"
    copilot-update: "-"
  mail:
    # 邮件服务器的SMTP地址
    host: smtp.qq.com
    # 邮件服务器的SMTP的端口 (qq为465,测试用的qq)
    port: 465
    # 发件人（必须正确，否则发送失败）
    from: 2842775752@qq.com
    # 用户名(foxmail和qq为发件人邮箱前缀 阿里云邮箱的user是邮箱的完整地址，即xxx@aliyun.com)
    user: 2842775752
    # 密码(拿到的授权码)
    pass: 123456789
    starttls: true
    ssl: false
    #邮件通知
    notification: true



springdoc:
  swagger-ui:
    # 开启Swagger UI界面
    enabled: true
  api-docs:
    # 开启api-docs
    enabled: true
  # 配置需要生成接口文档的扫描包
  packages-to-scan: plus.maa.backend
